<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Device Diagnostic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ locationFlag }}</ion-card-title>
      <ion-card-title>{{ bluetoothFlag }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Shake Your device to start the camera and take a picture.</p>
      <img src="{{ imagePath }}" alt="">
    </ion-card-content>
  </ion-card>
</ion-content>